# Assignment #3
## Intro to Machine Learning
### Rhichard Koh

1. Load the adult.data dataset

In [1]:
#1
import pandas as pd
import numpy as np

URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

df = pd.read_csv(URL, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])

2. Take a quick look at the data structure using .head(), .info(),
.describe(), and .shape

In [2]:
#2
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
#2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
#2
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
#2
df.shape

(32561, 15)

3. There are missing values in this dataset that are entered as ?, check for
the number of these missing values.

In [6]:
#3
(df.values == ' ?').sum()

4262

4. Replace the missing values you found in the previous step with null
(nan). Run a df.info() to see the non-null count.

In [7]:
#4
df = df.replace(' ?', np.nan)

In [8]:
#4
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [9]:
#4
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

5. Fill in the missing values (NaN) from the previous step
with the mean value of that attribute if it is numerical. Write the code
even if no numerical values are missing.

In [10]:
#5
df[['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']] = df[['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']].apply(lambda x: x.fillna(x.mean()))

In [11]:
#5
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

6. Fill in the missing values with the most common occurrence of that
value if it is categorical. Write the code even if no categorical values are
missing.

In [12]:
#6
df[['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']] = df[['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']].apply(lambda x: x.fillna(x.mode()[0]))

In [13]:
#6
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

7. Once steps 5&6 are completed, run df.info().

In [14]:
#7
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

8. Check if there are any duplicate rows in this dataset, and delete them.
Run df.shape.

In [15]:
#8
df.duplicated().sum()

24

In [16]:
#8
df = df.drop_duplicates()

In [17]:
#8
df.duplicated().sum()

0

In [18]:
#8
df.shape

(32537, 15)

9. Encode the categorical columns using get_dummies, then run a
df_encoded.shape

In [19]:
#9
df_encoded = pd.get_dummies(df, columns=["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"])
df_encoded.shape

(32537, 106)

10.Split the data into 80% training set and 20% testing set, run .shape for
the created X_train, X_test, y_train, y_test.

In [20]:
#10
from sklearn.model_selection import train_test_split

key = {' <=50K': 0, ' >50K': 1}
X = df_encoded.iloc[:,df_encoded.columns != 'income']
y = df_encoded['income'].map(key)
SEED = 4

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20,random_state=SEED, stratify=y)

In [21]:
#10
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(26029, 105) (6508, 105) (26029,) (6508,)

11.Implement a voting-based Ensemble model using LogisticRegression,
RandomForestClassifer, and SVC voting classifiers. Report on the accuracy
score .score of each classifier, and the .score of the ensemble voting
classifier.

In [22]:
#11
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

vclf = VotingClassifier(estimators=[('Logistic Regression', LogisticRegression()),
                                         ('Random Forest Classifier', RandomForestClassifier()),
                                         ('SVC', SVC())], n_jobs=-1)
vclf.fit(X_train, y_train)

VotingClassifier(estimators=[('Logistic Regression', LogisticRegression()),
                             ('Random Forest Classifier',
                              RandomForestClassifier()),
                             ('SVC', SVC())])

In [23]:
#11
for tag, clf in vclf.named_estimators_.items():
  print(f'Score of {tag}: {clf.score(X_test, y_test)}')

Score of Logistic Regression: 0.7976336816226183
Score of Random Forest Classifier: 0.8554087277197295
Score of SVC: 0.7957897971727105

In [24]:
#11
print(f'score of Ensemble Model: {vclf.score(X_test, y_test)}')

score of Ensemble Model: 0.8148432698217578

In [25]:
#11
from sklearn.metrics import accuracy_score

y_pred_vclf = vclf.predict(X_test)

y_pred_vclf_vs_test = pd.DataFrame({'Prediction':y_pred_vclf,'Actual':y_test})

print(y_pred_vclf_vs_test)

print(f'Prediction vs Actual Score: {accuracy_score(y_test, y_pred_vclf)}')

       Prediction  Actual
28595           0       0
6574            0       1
8725            0       1
19204           0       1
20148           0       0
...           ...     ...
20754           0       0
22535           0       0
14337           0       1
27139           0       0
1848            0       0

[6508 rows x 2 columns]
Prediction vs Actual Score: 0.8148432698217578

12.Repeat step 13 with soft voting, and report only on the ensemble score.

In [26]:
#12
vclf_soft = VotingClassifier(estimators=[('Logistic Regression', LogisticRegression()),
                                         ('Random Forest Classifier', RandomForestClassifier()),
                                         ('SVC', SVC(probability=True))], voting='soft', n_jobs=-1)
vclf_soft.fit(X_train, y_train)
print(f'score of Ensemble Model with soft voting: {vclf_soft.score(X_test, y_test)}')

score of Ensemble Model with soft voting: 0.816840811309158

13.Implement a bagging classifier using a decision tree classifier, report on
the oob_score_

In [29]:
#13
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

bclf = BaggingClassifier(DecisionTreeClassifier(max_leaf_nodes=16, random_state=42), n_estimators=500, oob_score=True, n_jobs=-1, random_state=42)
bclf.fit(X_train, y_train)
bclf.oob_score_

0.854047408659572

In [30]:
#13
y_pred_bclf = bclf.predict(X_test)

y_pred_bclf_vs_test = pd.DataFrame({'Prediction':y_pred_bclf,'Actual':y_test})

print(y_pred_bclf_vs_test)

print(f'Prediction vs Actual Score: {accuracy_score(y_test, y_pred_bclf)}')

       Prediction  Actual
28595           0       0
6574            0       1
8725            1       1
19204           0       1
20148           1       0
...           ...     ...
20754           0       0
22535           0       0
14337           0       1
27139           0       0
1848            0       0

[6508 rows x 2 columns]
Prediction vs Actual Score: 0.8484941610325752

14.Is there a difference between a bagging decision tree classifier and a
random forest classifier?

In [38]:
#14
rfclf = RandomForestClassifier(n_estimators=500, max_leaf_nodes=16, n_jobs=-1, random_state=42)

rfclf.fit(X_train, y_train)
y_pred_rfclf = rfclf.predict(X_test)

In [39]:
#14
y_pred_rfclf_vs_test = pd.DataFrame({'Prediction':y_pred_rfclf,'Actual':y_test})

print(y_pred_rfclf_vs_test)

print(f'accuracy score of Random Forest Classifier: {accuracy_score(y_test, y_pred_rfclf)}')

       Prediction  Actual
28595           0       0
6574            0       1
8725            0       1
19204           0       1
20148           1       0
...           ...     ...
20754           0       0
22535           0       0
14337           0       1
27139           0       0
1848            0       0

[6508 rows x 2 columns]
accuracy score of Random Forest Classifier: 0.8385064535955746

In [48]:
#14
print(np.all(y_pred_bclf == y_pred_rfclf))
if np.all(y_pred_bclf == y_pred_rfclf):
  print('the bagging classifier with decision trees and random forest classifier predicted the same values')
else:
  print('the bagging classifier with decision trees and random forest classifier did not predict the same values')

False
the bagging classifier with decision trees and random forest classifier did not predict the same values

In [56]:
#14
print(f'accuracy score of Random Forest Classifier: {accuracy_score(y_test, y_pred_rfclf)}')
print(f'accuracy score of Bagging Classifier with Decision Trees: {accuracy_score(y_test, y_pred_bclf)}')
print(f'the difference between the two: {abs((accuracy_score(y_test, y_pred_bclf)) - (accuracy_score(y_test, y_pred_rfclf)))}')
print('there is a difference but it is very minimal')

accuracy score of Random Forest Classifier: 0.8385064535955746
accuracy score of Bagging Classifier with Decision Trees: 0.8484941610325752
the difference between the two: 0.009987707437000615
there is a difference but it is very minimal

15. Which model of the above performed best?

In [55]:
#15
print(f'The best performing model from the notebook is the Bagging Classifier with Decision Trees which gave the accuracy score of {accuracy_score(y_test, y_pred_bclf)}')

The best performing model from the notebook is the Bagging Classifier with Decision Trees which gave the accuracy score of 0.8484941610325752